html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "Rubik", "Roboto", "Open Sans", sans-serif;
  font-size: 16px;
  color: #4f5665;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 90px;
}

.logo__img {
  width: 150px;
  height: 37px;
}

.menu__list {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.menu__item + .menu__item {
  padding-left: 40px;
}

.menu__item .menu-link:hover {
  border-bottom: 1px solid #f53855;
}

.header__panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 235px;
  min-height: 100%;
}

.panel__login {
  color: #0b132a;
  font-weight: 500;
}

.panel__registration {
  width: 150px;
  height: 45px;
  font-weight: 500;
  line-height: 41px;
  color: #f53855;
  border: 1px solid #f53855;
  border-radius: 50px;
  text-align: center;
}

.banner {
  margin-bottom: 105px;
}

.banner__inner {
  display: flex;
  justify-content: space-between;
}

.banner__left {
  margin-top: 30px;
}

.banner__title {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  margin-bottom: 20px;
}

.banner__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 50px;
}

.banner__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background-color: #F53838;
  border-radius: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 78px;
  padding-right: 78px;
  box-shadow: 0px 25px 54px -5px rgba(245, 56, 56, 0.35);
}

.info {
  margin-bottom: 95px;
}

.info__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 38px;
  padding-bottom: 38px;
  border-radius: 10px;
  box-shadow: 0px 42px 80px -90px #0D1025;
}

.info__inner .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 125px;
}

.info__inner .item + .item {
  border-left: 2px solid #EEEFF2;
}

.describe {
  margin-left: 37px;
}

.features {
  margin-bottom: 130px;
}

.features__inner {
  display: flex;
  justify-content: space-between;
}

.features__describe {
  padding-top: 55px;
  padding-left: 170px;
  padding-right: 50px;
}

.features__describe-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  margin-bottom: 20px;
}

.features__describe-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 20px;
}

.features__describe-item {
  position: relative;
  padding-left: 35px;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

.features__describe-item::before {
  content: " ";
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
}

.features__describe-item + .features__describe-item {
  margin-top: 15px;
}

.content {
  background-color: #F8F8F8;
}

.plans {
  margin-bottom: 150px;
  padding-top: 80px;
}

.plans__header {
  width: 555px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.plans__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  margin-bottom: 20px;
}

.plans__text {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.plans__offers {
  display: flex;
  justify-content: space-around;
}

.plans__offers-item {
  position: relative;
  text-align: center;
  width: 330px;
  height: 760px;
  border: 2px solid #DDDDDD;
  background: #FFFFFF;
  border-radius: 10px;
  padding-top: 80px;
  padding-left: 60px;
  padding-right: 60px;
}

.offers-item-img {
  width: 145px;
  height: 165px;
}

.offers-item__featurelist {
  text-align: left;
}

.offers-item__footer {
  position: absolute;
  margin-bottom: 50px;
  bottom: 0;
}

.offers-item__title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}

.featurelist-item {
  padding-left: 45px;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

.featurelist-item::before {
  content: " ";
  background-image: url("../img/check-box.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.cost {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
  margin-bottom: 20px;
}

.plans__offers-link {
  display: block;
  border: 2px solid #F53838;
  border-radius: 50px;
  padding: 13px 63px;
  color: #F53838;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}